body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 2em;
}

.studentTitle, .newPanel {
	background-color: #90bdbd;
}

.panelTop {
	
	background-color: rgb(92, 154, 154);

}

.panelSec {
	
	background-color:  rgb(69, 116, 116);
	
}